body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    height: 160px;
    background-color: #b3b3b3;
    margin: 0;
}

.nav-item {
    color: white;
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.borderd {
    border: 1px solid white;
    padding: 10px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 600px;
}

.cards {
    display: grid;
    align-items: center;
    background-color: gray;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.floater {
    display: subgrid;
    justify-self: center;
    background-color: white;
    color: gray;
    padding: 15px;
    font-size: 24px;

}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 2000px;
  justify-items: center;


}

.articles-container p {
  font-size: 20px;
  font-weight: 400;
  padding: 30px;
  margin-top: -10px;
}

.articles-container span {
  font-size: 16px;
  font-weight: 400;
  padding: 30px;
  margin-bottom: -10px;
}

.articles-container h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 30px;
  margin-bottom: -10px;
}

.first-article {
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  width: 100%;
  text-align: left;
  justify-content: center;
  line-height: 2;
  background-color: #f2f2f2;

}

.second-article {
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  width: 100%;
  text-align: left;
  justify-content: center;
  line-height: 2;
  background-color: #ededed;
}

.third-article {
  grid-column: 3;
  grid-row: 1;
  align-items: center;
  width: 100%;
  text-align: left;
  justify-content: center;
  line-height: 2;
  background-color: #f2f2f2;
}


.advertisement {
  grid-column: 1 / span 1;
  grid-row: 2;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  line-height: 2;
}

.advertisement-box {
  background-color: #7d7d7d;
  border: 0px;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 300px;
  color: white;

}

.explore-features {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  line-height: 2;
  background-color: #666666;
  border: 0px;
  border-radius: 20px;
  color: white;
}

.explore-features h1 {
  padding-top: 300px;
}

.explore-box {
  border: 0;
  border-radius: 10px;
  background-color: white;
  color: #666666;
  align-items: center;
  width: 300px;
  font-size: 18px;
}
